@mixin desktop-box {
    max-width: 1200px;
    margin: 0 auto;
    transition: .3s ease-in;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    // 16色碼規則: #RGBA 各2碼
    // 數值: 0-9 a-f
    // 可以直接在色碼最後加入alpha值即可調整透明度,就不用另外轉成rgba(r,g,b,a)的格式
    // 如: #252525的半透明即為: #25252588 因為是16碼所以一半是8
    background-color: rgba(50, 60, 63, 0.8);
    height: 90px;
    text-align: center;
    position: fixed;
    width: 100%;

    .nav{
        @include desktop-box();

        a{
            line-height: 90px;
            color: #fff;
            text-decoration: none;
            padding: 0 50px;
            transition: .2s ease-in;
        
            &:hover{
                color: deepskyblue;
            }
        }
        
    }
}

.banner{
    background-image: url(./img/banner.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

// 圖片區 #pic
#pic{
    @include desktop-box();
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 0;

    .pic1{
        background-color: #5b0fa1;
        height: 300px;

        &::before{
            content:'>' ;
            font-size: 50px;
            color: #fff; 
            display: grid;
            line-height: 300px;
            text-align: center;
        }
    }

    .pic2{
        background-image: url(./img/d-beach-1.jpg);
        background-size: cover;
        background-position: center;
        height: 300px;
    }

    .pic3{
        background-image: url(./img/d-beach-2.jpg);
        background-size: cover;
        background-position: center;
        height: 300px;
    }
}

// 內容區 #main
#main{
    @include desktop-box();
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    // grid-gap: 上下 左右;
    grid-gap: 0 40px;

    h3{
        grid-column: 1 / 3;
        font-size: 30px;
        margin-bottom: 20px;
        color: #088ca5;
    }

    .txt{
        
        p{
            line-height: 1.8rem;
            margin-bottom: 20px;
        }
    }


}


// RWD
// 平板: 尺寸 768(大於等於) ~ 1199(小於等於)
@media screen and (min-width:768px) and (max-width:1199px){

    @mixin pad-box {
        max-width: 750px;
        transition: .3s ease-in;
    }

    .nav{
        @include pad-box();
    }

    #pic{
        @include pad-box();
        grid-template-columns: repeat(2 , 1fr);
        
        .pic1{
            grid-column: 1 / 3;
        }

        .pic2{
            background-image: url(./img/p-beach-1.jpg);
        }

        .pic3{
            background-image: url(./img/p-beach-2.jpg);
            
        }
    }

    #main{
        @include pad-box();
    }

}


// 手機板
@media screen and (max-width:767px){

    @mixin phone-box {
        max-width: 100%;
        transition: .3s ease-in;
    }

    .nav{
        @include phone-box();
    }

    #pic{
        @include phone-box();
        grid-template-columns: 1fr;

        .pic1{
            height: 450px;
        }

        .pic2{
            background-image: url(./img/m-beach-1.png);
            height: 450px;
        }

        .pic3{
            background-image: url(./img/m-beach-2.png);
            height: 450px;
        }
    }

    #main{
        @include phone-box();
        grid-template-columns: repeat(1 , 1fr);

        
        h3{
            grid-column: 1 / 2;
        }
    }
}